@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #FEFEFB;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 106px;
  min-height: 113px;
  background: #FBF9F4;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.active path {
  fill: red;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 120px;
  position: relative;
}
.header__main_recept {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-decoration: none;
  margin-top: 26px;
  color: #FDB100;
}
.header__main_recept-nav {
  text-decoration: none;
  list-style: none;
  margin-top: 20px;
}
.header__main_recept-nav li {
  display: inline-block;
  /* Строчно-блочный элемент */
  padding-left: 60px;
}
.header__main_recept-nav-main-button {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #3A3C41;
  text-decoration: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.header__main_recept-nav-main-button:hover {
  color: #9196A1;
}
.header__main_recept-nav-main-recept {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #9196A1;
  text-decoration: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.header__main_recept-nav-main-recept:hover {
  color: #000000;
}
.header__main_recept-nav-main-favourites {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #9196A1;
  text-decoration: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.header__main_recept-nav-main-favourites:hover {
  color: #000000;
}
.header__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__login_ellips {
  margin-right: 10px;
  border-radius: 20px;
  background: #FDB100;
  width: 38px;
  height: 38px;
}
.header__login_ellips-image-authorization {
  position: absolute;
  height: 16px;
  padding: 11px;
}
.header__login_ellips-authorization {
  cursor: pointer;
  font-style: normal;
  margin-right: 50px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  color: #FDB100;
}
.header__image_right {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 602px;
  height: 800px;
  z-index: -1;
}
@media (max-width: 991.98px) {
  .header__image_right {
    width: 450px;
    height: 600px;
  }
}
.header__form {
  display: none;
  position: absolute;
  padding: 60px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 16px 72px rgba(34, 39, 47, 0.05);
          box-shadow: 0px 16px 72px rgba(34, 39, 47, 0.05);
  border-radius: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 400px;
}
.header__form_login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  gap: 24px;
}
.header__form_login-enter {
  cursor: pointer;
  background: #FDB100;
  border-radius: 16px;
  padding: 16px 109px 16px 109px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
}
.header__form_login-pass {
  cursor: pointer;
  padding: 16px 71px 16px 71px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  border: 1px solid #FDB100;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 16px;
  color: #FDB100;
}
.header__form-headertext {
  font-style: normal;
  margin-top: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  /* identical to box height, or 125% */
  color: #25292D;
}
.header__form-headersubtext {
  margin-top: 30px;
  font-style: normal;
  width: 577px;
  height: 56px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  -webkit-font-feature-settings: "case" on;
          font-feature-settings: "case" on;
  color: #4A525A;
}
.header__form_registr {
  width: 580px;
}
.header__form_registr-text {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  /* identical to box height, or 125% */
  text-transform: capitalize;
  color: #25292D;
}
.header__form_registr-input {
  margin-top: 47px;
  display: inline-block;
}
.header__form_registr-input-item {
  width: 580px;
  height: 50px;
  font-size: 18px;
  line-height: 32px;
  color: #25292D;
  border: 1px solid rgba(145, 150, 161, 0.4);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 16px;
  margin-top: 30px;
  padding-left: 26px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: rgba(37, 41, 45, 0.5);
}
.header__form_registr-input-com {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 28px;
  /* identical to box height, or 233% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(37, 41, 45, 0.3);
}
.header__form_registr-pass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
}
.header__form_registr-pass-input {
  width: 278px;
  height: 50px;
  border: 1px solid rgba(145, 150, 161, 0.4);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 16px;
  margin-right: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  padding-left: 26px;
  color: rgba(37, 41, 45, 0.5);
}
.header__form_registr-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 39px;
  gap: 22px;
}
.header__form_registr-login-reg {
  cursor: pointer;
  border: 1px solid #FDB100;
  background: #FDB100;
  border-radius: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  padding: 16px 39px 16px 39px;
  color: #FFFFFF;
}
.header__form_registr-login-no {
  cursor: pointer;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #FDB100;
  padding: 16px 100px 16px 100px;
  border: 1px solid #FDB100;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 16px;
}
.header__form_registr-ihave {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 47px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FDB100;
  border-bottom-color: #FDB100;
  text-decoration: none;
}
.header__form_registr-ihave:hover {
  border-bottom: 1px dashed #FDB100;
}
.header__form_enter-text {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  /* identical to box height, or 125% */
  text-transform: capitalize;
  color: #25292D;
}
.header__form_enter-input {
  margin-top: 49px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.header__form_enter-input-item {
  border: 1px solid rgba(145, 150, 161, 0.4);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  padding-left: 26px;
  color: rgba(37, 41, 45, 0.5);
  width: 580px;
  height: 50px;
}
.header__form_enter-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 46px;
  gap: 22px;
}
.header__form_enter-login-reg {
  cursor: pointer;
  background: #FDB100;
  border-radius: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  padding: 16px 109px 16px 109px;
  color: #FFFFFF;
}
.header__form_enter-login-no {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  padding: 16px 100px 16px 100px;
  color: #FDB100;
  border: 1px solid #FDB100;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 16px;
}
.header__form_enter-ihave {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FDB100;
  border-bottom-color: #FDB100;
  text-decoration: none;
}
.header__form_enter-ihave:hover {
  border-bottom: 1px dashed #FDB100;
}

.button1 {
  cursor: pointer;
  z-index: 2;
  color: rgba(145, 150, 161, 0.4);
  border: none;
  outline: none;
}

.end {
  position: absolute;
  right: 25px;
  top: 27px;
}

.content {
  margin-left: 120px;
}
.content__h1-text {
  width: 1000px;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 88px;
  color: #25292D;
}
@media (max-width: 1199.98px) {
  .content__h1-text {
    font-size: 52px;
  }
}
.content__h1-subtext {
  padding-top: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #4A525A;
}
@media (max-width: 991.98px) {
  .content__h1-subtext {
    padding-top: 5px;
    font-size: 15px;
    width: 800px;
  }
}
.content__Enter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 42px;
  gap: 24px;
}
.content__Enter_second-enter {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
  color: #FDB100;
}
.content__Enter_second-enter-ellips {
  border: 1px solid #FDB100;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 16px;
  padding: 16px 78px 16px 78px;
}
.content__Enter-add-button-ellips {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FDB100;
  border-radius: 16px;
  padding: 16px 35px 16px 35px;
}
.content__Enter-add-button {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
  color: #FFFFFF;
}
.content__Enter-plus_img {
  position: relative;
  width: 15px;
  height: 15px;
  padding-right: 10px;
  padding-top: 6px;
}

.h2 {
  margin-left: 120px;
}
.h2_header {
  padding-top: 300px;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 62px;
  color: #25292D;
}
@media (max-width: 1199.98px) {
  .h2_header {
    padding-top: 200px;
  }
}
.h2_header-note {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #4A525A;
}

.cleversort {
  margin-left: 91px;
  margin-top: 42px;
}
.cleversort__border {
  position: relative;
  display: inline-block;
  margin: 0 29px;
  -webkit-box-shadow: 0px 16px 72px rgba(34, 39, 47, 0.05);
          box-shadow: 0px 16px 72px rgba(34, 39, 47, 0.05);
  border-radius: 24px;
  background: #FFFFFF;
  width: 278px;
  height: 271px;
}
@media (max-width: 1199.98px) {
  .cleversort__border {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 15px;
  }
}
.cleversort__border_png {
  position: relative;
  top: 24px;
  left: 24px;
  padding: 13px;
  background: #FFEFCC;
  border-radius: 12px;
}
.cleversort__border_text {
  position: absolute;
  bottom: 130px;
  left: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #25292D;
}
.cleversort__border_subtext {
  position: absolute;
  top: 114px;
  left: 24px;
  width: 230px;
  height: 95px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #4A525A;
}

.Center {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 120px;
  margin-top: 157px;
}
.Center_img {
  width: 543px;
  height: 543px;
}
@media (max-width: 1399.98px) {
  .Center_img {
    width: 443px;
    height: 443px;
  }
}
@media (max-width: 991.98px) {
  .Center_img {
    width: 343px;
    height: 343px;
  }
}
.Center__like_time {
  position: relative;
  left: 500px;
}
@media (max-width: 1399.98px) {
  .Center__like_time {
    left: 450px;
  }
}
@media (max-width: 991.98px) {
  .Center__like_time {
    left: 230px;
  }
}
.Center__like_time-like {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}
.Center__like_time-like-indent {
  cursor: pointer;
  position: absolute;
  right: 50px;
  top: 15px;
}
.Center__like_time-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 10px;
  top: 14px;
  width: 170px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #25292D;
}
.Center__img_ROD {
  position: absolute;
  left: 644px;
  top: 60px;
}
@media (max-width: 1399.98px) {
  .Center__img_ROD {
    left: 528px;
    top: 60px;
    width: 82px;
  }
}
@media (max-width: 991.98px) {
  .Center__img_ROD {
    left: 370px;
    top: 40px;
    width: 82px;
  }
}
.Center__ellips-Emoji {
  position: absolute;
  left: 650px;
  top: 80px;
  border: 20px solid #FDB100;
  border-radius: 100px;
  background: #FDB100;
}
@media (max-width: 1399.98px) {
  .Center__ellips-Emoji {
    left: 530px;
    top: 80px;
    border: 15px solid #FDB100;
  }
}
@media (max-width: 991.98px) {
  .Center__ellips-Emoji {
    left: 372px;
    top: 60px;
    border: 15px solid #FDB100;
  }
}
.Center__ellips-Emoji-eye {
  position: absolute;
  left: 680px;
  top: 112px;
}
@media (max-width: 1399.98px) {
  .Center__ellips-Emoji-eye {
    left: 553px;
    top: 106px;
  }
}
@media (max-width: 991.98px) {
  .Center__ellips-Emoji-eye {
    left: 395px;
    top: 87px;
  }
}
.Center__ellips-Emoji-eye2 {
  position: absolute;
  left: 697px;
  top: 112px;
}
@media (max-width: 1399.98px) {
  .Center__ellips-Emoji-eye2 {
    left: 572px;
    top: 106px;
  }
}
@media (max-width: 991.98px) {
  .Center__ellips-Emoji-eye2 {
    left: 414px;
    top: 87px;
  }
}
.Center__h2 {
  display: table-column;
  margin-top: 150px;
  margin-left: 73px;
}
@media (max-width: 1399.98px) {
  .Center__h2 {
    margin-top: 160px;
    margin-left: 55px;
  }
}
@media (max-width: 1399.98px) {
  .Center__h2 {
    margin-top: 160px;
    margin-left: 15px;
  }
}
.Center__h2-text {
  width: 513px;
  height: 120px;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 60px;
  text-transform: capitalize;
  color: #25292D;
}
@media (max-width: 1399.98px) {
  .Center__h2-text {
    font-size: 24px;
    line-height: 40px;
    height: 80px;
  }
}
@media (max-width: 991.98px) {
  .Center__h2-text {
    font-size: 14px;
    line-height: 10px;
    height: 40px;
  }
}
.Center__h2-subtext {
  width: 513px;
  height: 128px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  -webkit-font-feature-settings: "case" on;
          font-feature-settings: "case" on;
  color: #4A525A;
}
@media (max-width: 1399.98px) {
  .Center__h2-subtext {
    font-size: 16px;
    width: 450px;
    line-height: 26px;
  }
}
@media (max-width: 991.98px) {
  .Center__h2-subtext {
    font-size: 14px;
    line-height: 22px;
    height: 40px;
    width: 313px;
  }
}

.bottom {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 120px;
  margin-top: 150px;
}
.bottom_text {
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 51px;
  text-align: center;
  color: #25292D;
}
.bottom_subtext {
  padding-top: 16px;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #4A525A;
}
.bottom__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 278px;
  margin-top: 64px;
}
@media (max-width: 1399.98px) {
  .bottom__search {
    margin-left: 0px;
  }
}
.bottom__search-input {
  height: 73px;
  outline: none;
  border: 0px solid black;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 8px 42px rgba(34, 39, 47, 0.04);
          box-shadow: 0px 8px 42px rgba(34, 39, 47, 0.04);
  border-radius: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  padding-left: 32px;
  color: rgba(37, 41, 45, 0.5);
}
@media (max-width: 1199.98px) {
  .bottom__search-input {
    width: 650px;
  }
}
.bottom__search-button {
  padding: 27px 42px 27px 42px;
  background: #FDB100;
  border-radius: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  color: #FFFFFF;
}
.bottom__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  padding-left: 255px;
}
@media (max-width: 1399.98px) {
  .bottom__nav {
    padding-left: 0px;
  }
}
.bottom__nav li {
  display: inline-block;
  /* Строчно-блочный элемент */
  padding-left: 30px;
}
.bottom__nav-item {
  text-decoration: none;
  list-style: none;
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #808080;
}
.bottom__nav-item:hover {
  color: #000000;
}

.footer_item-recept {
  padding-left: 120px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #FDB100;
}
.footer_item-recipes2021 {
  margin-left: auto;
  margin-right: 119px;
  width: 151px;
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #4A525A;
}