@use 'sass:math';
$breakpoint1400: 1399.98 + px;
$breakpoint1200: 1199.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint488: 487.98 + px;

$bgColor: #4A525A;

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #FEFEFB;
}

footer{
    display: flex;
    margin-top: 106px;
    min-height: 113px;
    background: #FBF9F4;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: left;

}

.active path{
    fill:red;
} 