body {
    font-family: 'Montserrat', sans-serif;
    background: #FEFEFB;
}

footer{
    display: flex;
    margin-top: 106px;
    min-height: 113px;
    background: #FBF9F4;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: left;

}