/*My style*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Mulish:ital@0;1&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background: #E5E5E5;
    position: relative;
}

.nav{
    text-decoration: none;
    list-style: none;
    margin: 0; padding: 0;
    position: absolute;
    top: 44px;
    left: 70px;
}

.nav li {
    display: inline-block; /* Строчно-блочный элемент */
    padding: 0 0 0 60px;
}

.autorization_nav2{
    text-decoration: none;
    list-style: none;
}

.border {
    background-color: #dddddd;
    background-clip: padding-box;
    border-radius: 40px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    width: 600px;
}

.main_recept{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-decoration: none;

    color: #FDB100;
}


.main_button{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
 
    color: #3A3C41;

    text-decoration: none;
    transition-duration: .5s;
}

.main_button:hover{
    color: #9196A1;
}

.recept{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #9196A1;

    text-decoration: none;
    transition-duration: .5s;
}

.recept:hover{
    color: #000000;
}

.favourites{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #9196A1;

    text-decoration: none;
    transition-duration: .5s;
}

.favourites:hover{
    color: #000000;
}

.authorization{
    position: absolute;
    top: 48px;
    right: 120px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    text-decoration: none;
    transition-duration: .5s;

    color: #FDB100;
}

.enter:hover{
    color: #fad36a;
}

.image_right{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 602px;
    height: 800px;
}

.ellips{
    position: absolute;
    top: 40px;
    right: 194px;
    border-radius: 20px;
    background: #FDB100;
    width: 38px;
    height: 38px;
}

.image_authorization{
    position: absolute;
    height: 16px;
    padding: 11px;
}

.h1_header{
    position: absolute;
    top: 211px;
    left: 120px; 
    width: 1000px;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 88px;

    color: #25292D;
}

.h1_header_coment{
    position: absolute;
    left: 120px;
    top: 450px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;

    color: #4A525A;
}

.add_button_ellips{
    position: relative;
    left: 120px;
    top: 540px;
    padding: 15px;
    background: #FDB100;
    border-radius: 16px;
    padding: 16px 35px 16px 76px;
}


.add_button{
    position: absolute;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;

    text-decoration: none;
    color: #FFFFFF;
}

.plus_img {
    position: absolute;
    left: 39px;
    top: 20px;
}

.second_enter{
    position: absolute;
    left: 422px;
    top: 540px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;

    text-decoration: none;
    color: #FDB100;
}

.second_enter_ellips{
    border: 1px solid #FDB100;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 16px 78px 16px 78px;
}

.Rect2{
    border: 3px solid #FDB100;
    box-sizing: border-box;
    border-radius: 16px;
}

.h2_header{
    position: absolute;
    top: 822.79px;
    left: 120px;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 62px;

    color: #25292D;
}

.h2_header-note{
    position: absolute;
    top: 911px;
    left: 120px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;

    color: #4A525A;
}

.icon1{
    background: #FFEFCC;
    border-radius: 12px;
}

.Clever_sort{
    position: absolute;
    top: 1085px;
    left: 80px;
}

.border1{
    position: relative;
    display: inline-block;
    margin: 0 29px;
    box-shadow: 0px 16px 72px rgba(34, 39, 47, 0.05);
    border-radius: 24px;
    background: #FFFFFF;
    width: 278px;
    height: 271px;
}

.ic_menu_png{
    position: relative;
    top: 24px;
    left: 24px;
    padding: 13px;
    background: #FFEFCC;
    border-radius: 12px;
}

.note3-heading{
    position: absolute;
    bottom: 130px;
    left: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;

    color: #25292D;
}

.note3{
    position: absolute;
    top: 114px;
    left: 24px;
    width: 230px;
    height: 95px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;

    color: #4A525A;
}

.Center{
    position: relative;
    left: 120px;
    top: 1529px;
}

.Center_img{
    position: absolute;
    width: 543px;
    height: 543px;

    background: url(.jpg), #F0F0F0;
    border-radius: 72px 0px;
}

.Center_like{
    position: absolute;
    left: 1075px;
    opacity: 0.5;
}

.Center_clock{
    position: absolute;
    left: 1162px;
    top: -1.5px;
}

.Center_img_ROD{
    position: absolute;
    left: 715px;
    top: 45px;
}

.Center_ellips-Emoji{
    position: relative;
    left: 720px;
    top: 60px;
    border: 20px solid #FDB100;
    border-radius: 100px;

    background: #FDB100;
}

.Center_ellips-Emoji-eye{
    position: absolute;
    left: 767px;
    top: 95px;
}

.Center_ellips-Emoji-eye2{
    position: absolute;
    left: 750px;
    top: 95px;
}

.h2_main-title{
    position: relative;
    left: 720px;
    top: 50px;
    width: 513px;
    height: 120px;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 60px;

    text-transform: capitalize;

    color: #25292D;
}

.h2_main-title-note{
    position: absolute;
    width: 513px;
    height: 128px;
    left: 720px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */

    font-feature-settings: 'case' on;

    color: #4A525A;
}

.bottom{
    position: relative;
    top: 1800px;
}

.bottom_h2{
    text-align: center;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;

    color: #25292D;
}

.bottom_h2-note{  
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    font-feature-settings: 'case' on;

    color: #4A525A;
}

input {
    position: relative;
    display: flex;
    width: 800px;
    height: 73px;
    left: 420px;
    top: 1820px;
    padding-left: 40px;

    outline: none;
    border: 0px solid black;
    border-radius: 5px;

    background: #FFFFFF;
    box-shadow: 0px 8px 42px rgba(34, 39, 47, 0.04);
    border-radius: 16px;

    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;

    color: rgba(37, 41, 45, 0.5);
  }

.bottom_enter{
    position: relative;
    height: 73px;
    width: 200px;
    left: 1290px;
    top: 1745px;
    outline: none;
    border: 0px solid black;
    border-radius: 5px;

    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: #FDB100;
    border-radius: 16px;
}

.Search{
    text-decoration: none;
    color: #FFFFFF;
}

.bottom_nav{
    text-decoration: none;
    list-style: none;
    margin: 0; padding: 0;
    position: absolte;
    top: -40px;
    left: 390px;
}

.bottom_nav li {
    display: inline-block; /* Строчно-блочный элемент */
    padding: 0 0 0 30px;
}

.bottom_nav-item{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */

    display: flex;
    align-items: center;
    text-decoration: none;

    color: #808080;
}

footer{
    min-height: 113px;
    background: #FBF9F4;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;

}

.bottom_item-recept{
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    left: 120px;

    color: #FDB100;
}

.bottom_item-recipes2021{
    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    left: 1540px;
}